.App-logo {
  height: 32px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: $radius; /* Firefox 1-3.6 */
  -ms-border-radius: $radius;
  border-radius: $radius; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

.toolbar {
  position: relative;
  background-color: #282c34;
  color: white;
  padding: 5px;
  border: 1px solid #1d2f2f;
  @include box-shadow(1px 1px 10px 2px #C0C0C0);
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

textarea {
  width: 100%;
  min-height: 300px;
  resize: vertical;
  outline: none;
  border: 1px solid #1d2f2f;
  margin-bottom: 10px;
  padding: 5px;
}

#preview {
  width: 100%;
  border: 1px solid #1d2f2f;
  margin-bottom: 10px;
  padding: 5px;
}

#preview * {
  max-width: 100%;
}

#preview table td,
#preview table th {
  padding: 5px;
  border: 1px solid #1d2f2f;
}

.site-footer p {
  color: #282c34;
}

.site-footer p a {
  color: #282c34 !important;
}
